@import url('https://fonts.googleapis.com/css?family=Cherry+Cream+Soda|Cormorant+Infant|Lobster+Two|Poiret+One');
body {
	color: #337ab7;
	background: url('/bg.png');
	background-position: -960px 1920px;
	background-size: auto auto;
	font-family: 'Cormarant Infant';
	font-size: 2rem;
	padding-top: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Lobster Two';
}

.row > div {
	margin-bottom: 3rem;
}

.thumbnail {
	box-shadow: 0 5px 10px #333;
}
.caption h4 {
	color: #337ab7;
}

.slide-test {
	transform: translate(1920px, 0);
}
