@import url('https://fonts.googleapis.com/css?family=Cherry+Cream+Soda|Cormorant+Infant|Lobster+Two|Poiret+One');
body {
	color: #337ab7;
	background: url('/bg.png');
	background-position: center;
	background-size: cover 100%;
	font-family: 'Cormarant Infant';
	font-size: 2rem;
	padding-top: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Lobster Two';
}
